<nav [class.enemy]="isEnemyTeam">
    <div *ngFor="let agent of agents;">
        <span>
            <img class="agent" alt="{{agent.displayName}}" src="assets/agents/{{agent.name}}/agent.png" />
            <img class="role" alt="{{agent.role}}" src="assets/roles/{{agent.role}}.png" />
            <h1>{{agent.displayName}}</h1>
        </span>
        <ul>
            <ng-container *ngFor="let ability of agent.abilities;">
                <li *ngIf="ability.isActive" (click)="selectAbility($event, agent, ability)">
                    <img alt="{{ability.displayName}}" src="assets/agents/{{agent.name}}/{{ability.name}}{{isEnemyTeam ? '-alt' : ''}}.png" />
                    <h3>{{ability.displayName}}</h3>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>